// $themes: (
//     $light-theme: (
//         $body-color: #fefefe
//         $primary-text: #222222),
            
//     $dark-theme: (
//         $primary-text: #fefefe
//         $body-color: #222222)
// );
    
    
    
    // $body-color: #fefefe
// $body-color: #222222
$blue-icon: #00b8d4
// $primary-text: #222222
// $primary-text: #fefefe
$secondary-text: #efefef
$primary-border: #dbdbdb
$font-stack: 'Nunito Sans', sans-serif
$link-hover: #9d9d9d    

@media (prefers-color-scheme: light)
    body 
        $body-color: #fefefe
        $primary-text: #222222

@media (prefers-color-scheme: dark)
    body
        $primary-text: #fefefe
        $body-color: #222222

* 
    box-sizing: border-box
    margin: 0
    padding: 0
    scroll-behavior: smooth

body
    background-color: $body-color
    font-family: $font-stack
    color: $primary-text
    font-size: 1em
    font-weight: 300
    line-height: 1.5

a 
    text-decoration: none
    color: $primary-text
    &:hover
        color: $link-hover
        font-style: none
    &:active
        color: $primary-text

hr 
  background-color: $primary-border
  border: none
  height: 2px
  margin: 1.5rem 0 

img
    border-radius: 5px
    border: 1px solid $secondary-text
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4)
    height: 30em

section
    display: block

.about-body
    display: flex
    flex-direction: row
    padding: 1em
    align-items: center

.bold-title
    font-size: 6rem
    line-height: 1.2
    margin-bottom: 0.25em
    font-weight: 200
    // @include mobile
    //     font-size: 3rem
    //     text-align: center

.contact
    min-height: 30vh
    display: flex
    align-content: space-around

.contact-body
    display: flex
    flex-direction: column
    align-content: space-around

.container
    margin: 0 auto
    width: 1000px
    display: flex
    flex-direction: column
    justify-content: center

.email 
    a
        color: $blue-icon
        font-size: 2em

@keyframes fadeIn
    from
        opacity: 0
    to
        opacity: 1

.fade-in
    opacity: 0
    animation: fadeIn ease-in 1
    animation-fill-mode: forwards
    animation-duration: 1s
    &.one
        animation-delay: 0.7s
    &.two
        animation-delay: 1.4s
    &.three
        animation-delay: 1.8s

.footer-icon
    color: $primary-border

.footer-text
    font-size: 0.8em

.hero
    align-items: stretch
    display: flex
    flex-direction: column
    justify-content: space-between

.has-padding
    padding: 1em

.has-padding-top
    padding-top: 2em

.has-text-centered 
    text-align: center !important

.has-text-justify
    text-align: justify

.is-fullheight 
    min-height: 100vh
    display: flex
    align-content: center

.navbar-menu
    display: flex
    justify-content: space-around
    width: auto

.section 
    flex-grow: 1
    flex-shrink: 0
    padding: 3rem 1.5rem

.social-icon
    height: 1.5rem
    width: 1.5rem
    margin: 0 10px
    color: $blue-icon
    &:hover
        color: $primary-text
    &:active
        color: $blue-icon

.social-icons
    padding: 0 10px

.subtitle
    font-size: 2.5rem

.title
    color: $primary-text
    font-size: 2rem
    font-weight: 300
    line-height: 1.125



