@media (max-width: 768px) {
  body {
    background: red;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fefefe;
  font-family: "Nunito Sans", sans-serif;
  color: #222222;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #222222;
}

a:hover {
  color: #9d9d9d;
  font-style: none;
}

a:active {
  color: #222222;
}

hr {
  background-color: #dbdbdb;
  border: none;
  height: 2px;
  margin: 1.5rem 0;
}

img {
  border-radius: 5px;
  border: 1px solid #efefef;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  height: 30em;
}

section {
  display: block;
}

.about-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bold-title {
  font-size: 6rem;
  line-height: 1.2;
  margin-bottom: 0.25em;
  font-weight: 200;
}

.contact {
  min-height: 30vh;
  display: flex;
  align-content: space-around;
}

.contact-body {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 1em;
}

.container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email a {
  color: #00b8d4;
  font-size: 2em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.fade-in.one {
  animation-delay: 0.7s;
}

.fade-in.two {
  animation-delay: 1.4s;
}

.fade-in.three {
  animation-delay: 1.8s;
}

.footer-icon {
  color: #dbdbdb;
}

.footer-text {
  font-size: 0.8em;
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.has-padding {
  padding: 1em;
}

.has-bottom-padding {
  padding-bottom: 1.5em;
}

.has-padding-top {
  padding-top: 2em;
}

.has-text-centered {
  text-align: center !important;
}

.has-text-justify {
  text-align: justify;
}

.is-fullheight {
  min-height: 100vh;
  display: flex;
  align-content: center;
}

.navbar-menu {
  display: flex;
  justify-content: space-around;
  width: auto;
}

.section {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

.social-icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 10px;
  color: #00b8d4;
}

.social-icon:hover {
  color: #222222;
}

.social-icon:active {
  color: #00b8d4;
}

.social-icons {
  padding: 0 10px;
}

.subtitle {
  font-size: 2.5rem;
}

.title {
  color: #222222;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.125;
}
